{% extends 'qts/base.html' %}
{% block conteudo %}
<div class="row text-center">
    <h1>Lista de alunos</h1><hr>
</div>
<div class="row">
    <div class="col cor-padrao-pagina"></div>
    <div class="col-8 justify-content-center">

        <table class="table table-bordered table-striped table-hover">
            <tr>
                <thead class="table-dark">
                    <th class="col-1">id</th>
                    <th class="col-9">nome</th>
                    <th>login</th>
                    <th>senha</th>
                </thead>
            </tr>
            <!-- Sintaxe específica do Django para laço de repetição:-->
            {% for aluno in alunos %}
            <tr>
                <td>{{aluno.id_aluno}}</td>
                <td>{{aluno.nome}}</td>
                <td> {{aluno.login}} </td>
                <td> {{aluno.senha}} </td>
                <td>
                    {% if aluno.id_aluno %}
                    <a href=" {% url 'deletar_alunos' aluno.id_aluno %} " class="btn btn-outline-danger btn-sm px-5">Deletar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col cor-padrao-pagina"></div>
</div>
{% endblock %}
