{% extends 'qts/base.html' %}
{% block conteudo %}
<div class="row text-center">
    <h1>Lista de matérias</h1><hr>
</div>
<div class="row">
    <div class="col cor-padrao-pagina"></div>
    <div class="col-8 justify-content-center">

        <table class="table table-bordered table-striped table-hover professor-column">
            
            <tr>
                <thead class="table-dark">
                    <th class="col-9">Nome da Matéria</th>
                    <th>Ações</th>
                </thead>
            </tr>
            <!-- Sintaxe específica do Django para laço de repetição:-->
            {% for materia in tabela_materias %}
                <tr>
                    <td>{{materia.nome}}</td>
                    <td>
                        {% if materia.id_materia %}
                            <a href=" {% url 'deletar_materia' materia.id_materia %} " 
                                class="btn btn-outline-danger btn-sm"
                                style="padding-left: 40%; padding-right: 40%;">
                                    Deletar
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            
        </table>
    </div>
    <div class="col cor-padrao-pagina"></div>
</div>
{% endblock %}