{% extends 'qts/base.html' %}
{% block conteudo %}
<div class="row text-center">
    <h1>Lista de professores</h1><hr>
</div>
<div class="row">
    <div class="col cor-padrao-pagina"></div>
    <div class="col-8 justify-content-center">

        <table class="table table-bordered table-striped table-hover">
            
            <tr>
                <thead class="table-dark">
                    <th class="col-5">Dias Disponíveis</th>
                    <th class="col-5">Nome</th>
                    <th>Ações</th>
                </thead>
            </tr>
            <!-- Sintaxe específica do Django para laço de repetição:-->
            {% for professor in professores %}
            <tr>
                <td>
                {% for disponibilidade in disponibilidade_dia %}
                    {% if professor.id_professor == disponibilidade.id_professor.id_professor %}
                        {{disponibilidade.id_dia.nome}} /
                    {% endif %}
                {% endfor %}
                </td>
                <td>{{professor.nome}}</td>
                <td>
                    {% if professor.id_professor %}
                    <a href=" {% url 'deletar_professores' professor.id_professor %} " class="btn btn-outline-danger btn-sm px-5">Deletar</a>
                    {% endif %}
                </td> 
            </tr> 
            {% endfor %}
        </table>
    </div>
    <div class="col cor-padrao-pagina"></div>
</div>
{% endblock %}