{% extends 'qts/base.html' %}
{% block conteudo %}
<div class="row text-center">
    <h1>Lista de professores</h1>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-8 justify-content-center">

        <table class="table table-bordered table-striped table-hover">
            
            <tr>
                <th class="col-1">id</th>
                <th class="col-9">nome</th>
            </tr>
            <!-- Sintaxe específica do Django para laço de repetição:-->
            {% for professor in professores %}
            <tr>
                <td>{{professor.id_professor}}</td>
                <td>{{professor.nome}}</td>
                <td>
                    {% if professor.id_professor %}
                    <a href=" {% url 'deletar_professores' professor.id_professor %} " class="btn btn-outline-danger btn-sm px-5">Deletar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
    <div class="col"></div>
</div>
{% endblock %}