{% extends 'qts/base.html' %}
{% block conteudo %}
<form action="{% url 'cadastrar_materia_professor' %}" method="post">
{% csrf_token %}
<div class="row text-center">
    <h1>Vincular Matérias com Professores</h1>
</div>

<div class="row">
    <div class="col-2 cor-padrao-pagina"></div>
    <div class="row col-8 m-0 p-0">
        <div class="row">
            <table class="table text-center me-5">
                <th>Professor</th>
                <th>Dia da Semana</th>
                <th>Matéria</th>
            </table>
        </div>

        <div class="row text-center">
            <div class=""></div>
            <div class="ms-3 col-3 mt-3" id="professor-selecionado">
                <p class="fst-italic">Selecione um professor</p>

            </div>
            <div class="ms-3 col-1 mt-3">
                <p>>></p>
            </div>
            <div class="ms-3 col-3 mt-3" id="dia-selecionado">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                      Dia da Semana
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li><button class="dropdown-item" id="drop1"type="button" value="1">Domingo</button></li>
                      <li><button class="dropdown-item" id="drop2"type="button" value="2">Segunda</button></li>
                      <li><button class="dropdown-item" id="drop3"type="button" value="3">Terça</button></li>
                      <li><button class="dropdown-item" id="drop4"type="button" value="4">Quarta</button></li>
                      <li><button class="dropdown-item" id="drop5"type="button" value="5">Quinta</button></li>
                      <li><button class="dropdown-item" id="drop6"type="button" value="6">Sexta</button></li>
                      <li><button class="dropdown-item" id="drop7"type="button" value="7">Sábado</button></li>
                    </ul>
                </div>
            </div>
            <div class="ms-3 col-1 mt-3">
                <p>>></p>
            </div>
            <div class="ms-3 col-3 mt-3" id="materia-selecionada">
                <p class="fst-italic">Selecione uma matéria</p>
            </div>
        </div>
    </div>
    <div class="col-2 cor-padrao-pagina"></div>
</div>

<!-- Input oculto que preenche o formulário-->
<input type="hidden" name="materia_id" id="materia-id" value="0" required>
<input type="hidden" name="dia_id" id="dia-id" value="0" required>
<input type="hidden" name="professor_id" id="professor-id" value="0" required>
<!-- botão que finaliza o formulário -->
<div class="d-grid gap-2 pt-5 mx-auto" style="width: 70%;">
    <button class="btn btn-outline-success" type="submit" id="button-addon2">Cadastrar</button>
</div>

<div class="row">
    <div class="col-6 p-5 order-md-2">
            
        <table class="table table-hover table-light">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">Matérias</th>
                </tr>
            </thead>
            <!-- Pegar as matérias que estão sem vínculo:-->
            {% for materia in materia %}
                {% for materiasv in materia_sem_vinculo %}
                    {% if materia == materiasv %}
                        <tr>
                            <td style="background-color: rgb(232, 252, 233);">
                                <div class="form-check ps-5">
                                    <input class="form-check-input" type="radio" name="check-materia" value="{{ materia.id_materia }}" id="check-materia-{{ materia.id_materia }}">
                                    <label class="form-check-label" for="check-materia-{{ materia.id_materia }}"><strong>{{ materia.nome }}</strong></label>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <!-- Pegar as matérias que já possuem vínculo:-->
            {% for materia in materia %}
                {% if materia not in materia_sem_vinculo %}
                    <tr>
                        <td style="background-color: rgb(252, 234, 233);">
                            <div class="form-check ps-5">
                                <input class="form-check-input" type="radio" name="check-materia" value="{{ materia.id_materia }}" id="check-materia-{{ materia.id_materia }}">
                                <label class="form-check-label" for="check-materia-{{ materia.id_materia }}"><strong>{{ materia.nome }}</strong></label>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            
        </table>
    </div>
    <div class="col-6 p-5 order-md-1">
        
        <table class="table table-hover table-light">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">Professores e suas Disponibilidades</th>
                </tr>
            </thead>
            <!-- Sintaxe específica do Django para laço de repetição:-->
            {% for professor in professor %}
                <tr>
                    <td>
                        <div class="form-check ps-5">
                            <input class="form-check-input" type="radio" name="check-professor" value="{{ professor.id_professor }}" id="check-professor-{{ professor.id_professor }}">
                            <label class="form-check-label" for="check-professor-{{ professor.id_professor }}">
                                <strong>{{ professor.nome }}</strong>   
                                {% for d in dia_professor %}
                                    {% if professor.id_professor == d.id_professor.id_professor %}
                                        - {{ d.id_dia.nome }} 
                                    {% endif %}
                                {% endfor %}
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</form>
<script>
    (function(){
        document.getElementById('materia-id').value = '0';
        document.getElementById('professor-id').value = '0';
    })();
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    // Obtém todos os elementos de rádio
        const radioButtonsP = document.querySelectorAll('input[type="radio"][name="check-professor"]');
        const professorIdElement = document.getElementById('professor-id');
        const radioButtonsM = document.querySelectorAll('input[type="radio"][name="check-materia"]');
        const materiaIdElement = document.getElementById('materia-id');
        // Elementos onde será exibido o nome do professor e matéria selecionados
        const professorSelecionadoElement = document.getElementById('professor-selecionado');
        const materiaSelecionadoElement = document.getElementById('materia-selecionada');

        // Obtenha os elementos do botão de dia
        const dia1 = document.getElementById('drop1');
        const dia2 = document.getElementById('drop2');
        const dia3 = document.getElementById('drop3');
        const dia4 = document.getElementById('drop4');
        const dia5 = document.getElementById('drop5');
        const dia6 = document.getElementById('drop6');
        const dia7 = document.getElementById('drop7');
        const inputField = document.getElementById('dia-id');
        const inputLayout = document.getElementById('dropdownMenu2');

        // Adicione um listener de evento para o evento de clique no botão suspenso
        dia1.addEventListener('click', (event) => {
            // Obtenha o valor do botão clicado
            const text = event.target.textContent;
            const value = event.target.value;

            // Defina o atributo `value` do campo de entrada para o valor do botão
            inputField.value = value;
            inputLayout.textContent = text;
        });
        dia2.addEventListener('click', (event) => {
            // Obtenha o valor do botão clicado
            const text = event.target.textContent;
            const value = event.target.value;

            // Defina o atributo `value` do campo de entrada para o valor do botão
            inputField.value = value;
            inputLayout.textContent = text;
        });
        dia3.addEventListener('click', (event) => {
            // Obtenha o valor do botão clicado
            const text = event.target.textContent;
            const value = event.target.value;

            // Defina o atributo `value` do campo de entrada para o valor do botão
            inputField.value = value;
            inputLayout.textContent = text;
        });
        dia4.addEventListener('click', (event) => {
            // Obtenha o valor do botão clicado
            const text = event.target.textContent;
            const value = event.target.value;

            // Defina o atributo `value` do campo de entrada para o valor do botão
            inputField.value = value;
            inputLayout.textContent = text;
        });
        dia5.addEventListener('click', (event) => {
            // Obtenha o valor do botão clicado
            const text = event.target.textContent;
            const value = event.target.value;

            // Defina o atributo `value` do campo de entrada para o valor do botão
            inputField.value = value;
            inputLayout.textContent = text;
        });
        dia6.addEventListener('click', (event) => {
            // Obtenha o valor do botão clicado
            const text = event.target.textContent;
            const value = event.target.value;

            // Defina o atributo `value` do campo de entrada para o valor do botão
            inputField.value = value;
            inputLayout.textContent = text;
        });
        dia7.addEventListener('click', (event) => {
            // Obtenha o valor do botão clicado
            const text = event.target.textContent;
            const value = event.target.value;

            // Defina o atributo `value` do campo de entrada para o valor do botão
            inputField.value = value;
            inputLayout.textContent = text;
        });

        // Adiciona um evento de clique para cada rádio button
        radioButtonsP.forEach(function(radioButton) {
            radioButton.addEventListener('change', function() {
                if (this.checked) {
                    // Obtém o valor do professor selecionado
                    const professorId = this.value;
                    
                    // Encontra o nome do professor correspondente ao ID selecionado
                    const professorNome = document.querySelector(`label[for="check-professor-${professorId}"]`).innerText;
                    
                    // Exibe o nome do professor selecionado na div professor-selecionado
                    professorSelecionadoElement.innerText = `${professorNome}`;
                    professorSelecionadoElement.classList.add("fw-bold");
                    professorSelecionadoElement.classList.add("fst-italic");

                    // Atualizar o input oculto
                    professorIdElement.value = professorId;
                    console.log(`Professor ${professorNome}, do ID ${professorId} adicionado com sucesso!!`)
                }
            });
        });

        radioButtonsM.forEach(function(radioButton) {
            radioButton.addEventListener('change', function() {
                if (this.checked) {
                    // Obtém o valor da matéria selecionada
                    const materiaId = this.value;
                    
                    // Encontra o nome da matéria correspondente ao ID selecionado
                    const materiaNome = document.querySelector(`label[for="check-materia-${materiaId}"]`).innerText;
                    
                    // Exibe o nome do matéria selecionada na div materia-selecionada
                    materiaSelecionadoElement.innerText = `${materiaNome}`;
                    materiaSelecionadoElement.classList.add("fst-italic");
                    materiaSelecionadoElement.classList.add("fw-bold");

                    //Atualizar o input oculto
                    materiaIdElement.value = materiaId;
                    console.log(`Materia ${materiaNome}, do ID ${materiaId} adicionada com sucesso!!`)
                }
            });
        });
    });
</script>
{% endblock %}