{% extends 'qts/base.html' %}
{% block conteudo %}
<div class="row text-center">
    <h1>Vincular Matérias com Professores</h1>
</div>
<h3>
    Colocar aqui os professores que o usuário marcar em baixo
</h3>
<div class="row">
    <div class="col-6 p-5">
            
        <table class="table table-hover table-striped">
            <tr>
                <th class="col-1"></th>
                <th class="">Matérias</th>
            </tr>
            <!-- Sintaxe específica do Django para laço de repetição:-->
            {% for materia in materia %}
            <tr>
                <td>
                    <div class="form-check ps-5">
                        <input class="form-check-input" type="radio" name="check-materia" value="1" id="check-materia">
                        
                    </div>
                </td>
                <td>{{materia.nome}}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
    <div class="col-6 p-5">
        
        <table class="table table-hover table-striped">
            <tr>
                <th class="col-1"></th>
                <th class="">Professores</th>
            </tr>
            <!-- Sintaxe específica do Django para laço de repetição:-->
            {% for professor in professor %}
            <tr>
                <td>
                    <div class="form-check ps-5">
                        <input class="form-check-input" type="radio" name="check-professor" value="1" id="check-professor">
                        
                    </div>
                </td>
                <td>{{professor.nome}}</td>
            </tr>
            {% endfor %}
            
        </table>
        
    </div>
</div>
{% endblock %}