{% extends 'qts/base.html' %}
{% block conteudo %}
<div class="row text-center">
    <h1>Atenção!</h1>
</div>
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col border border-2 border-secondary p-3 rounded-3" style="background-color: rgb(245, 216, 216);">
            <p><strong>Ocorreu um erro!</strong></p>
            <p><strong>A matéria já está vinculada a outro professor.</strong></p>
            <p><strong>Favor remover o vinculo com o outro professor para vincular a um novo professor</strong></p>
        </div>
    </div>
</div>
{% endblock %}