{% extends 'qts/base.html' %}
{% block conteudo %}
<div class="row text-center">
    <h1>Atenção!</h1>
</div>
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col border border-2 border-secondary p-3 rounded-3" style="background-color: rgb(245, 216, 216);">
            <p><strong>Ocorreu um erro!</strong></p>
            <p><strong>Este professor já tem uma matéria vinculada neste dia.</strong></p>
            <p><strong>Favor remover o vinculo da matéria com o dia para vincular a nova matéria neste mesmo dia da semana</strong></p>
        </div>
    </div>
</div>
{% endblock %}