{% extends 'qts/base.html' %}
{% block conteudo %}
<form action="{% url 'cadastrar_materia' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-3 cor-padrao-pagina"></div>
        <div class="container justify-content-center align-items-center col-6">
            <h1>Cadastro de Matérias</h1>
            <h4>Informações da matéria</h4>

            <div class="position-relative my-5 row">
                <div class="input-group ps-4 position-relative start-0 align-bottom">
                    <input name="nome" type="text" class="form-control" placeholder="Nome da matéria" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                </div>
            </div>
            <hr>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-success" type="submit" id="button-addon2">Cadastrar</button>
            </div>
        </div>
        <div class="col-3 cor-padrao-pagina"></div>
    </div>
</form>
{% endblock %}