{% extends 'qts/base.html' %}
{% block conteudo %}
<body>
    <h1 class="pt-5 ps-5">Resultados</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 justify-content-center">
            <hr>
            <div class="m-3 text-center"><h4>Busca por Matérias</h4></div>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <th>Id da matéria</th>
                    <th>Nome da matéria</th>
                </thead>
                {% for mat in tabela_materia %}
                <tr>
                    {% if mat.id != 'naoencontrado' %}
                        <td> {{ mat.id }} </td>
                        <td> {{ mat.nome }} </td>
                    {% else %}
                        <td class="fst-italic"><strong>Resultado não encontrado</strong></td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <br><br><hr>
            <div class="m-3 text-center"><h4>Busca por Professores</h4></div>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <th>Id do professor</th>
                    <th>Nome do professor</th>
                </thead>
                {% for prof in tabela_professor %}
                <tr>
                    {% if prof.id != 'naoencontrado' %}
                        <td> {{ prof.id }} </td>
                        <td> {{ prof.nome }} </td>
                    {% else %}
                        <td class="fst-italic"><strong>Resultado não encontrado</strong></td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <br><br><hr>
            <div class="m-3 text-center"><h4>Busca por Vínculos no Quadro Geral</h4></div>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <th>Nome do professor vinculado</th>
                    <th>Nome da matéria vinculada</th>
                    <th>Dia da semana</th>
                </thead>
                {% for ddm in tabela_disp_dia_mat %}
                <tr>
                    {% if ddm.nome_materia != 'naoencontrado' %}
                        <td> {{ ddm.nome_professor }} </td>
                        <td> {{ ddm.nome_materia }} </td>
                        <td> {{ ddm.nome_dia }} </td>
                    {% else %}
                        <td class="fst-italic"><strong>Resultado não encontrado</strong></td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</body>
{% endblock %}
