{% extends 'qts/base.html' %}
{% block conteudo %}
<form id="formCadastroProfessores" action="{% url 'cadastrar_professores' %}" method="post">
    {% csrf_token %}
    <div style="text-align: center" class="container">
        <h1>Cadastro de Professores</h1>
        

        <div class="position-relative my-5 row">
            <div class="input-group mb-3 w-50 p-3 position-absolute start-50 translate-middle align-bottom">
                <input name="nome" type="text" class="form-control" placeholder="Nome do Professor" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-success" type="submit" id="button-addon2">Cadastrar</button>
            </div>
        </div>
        <button class="btn btn-outline-success" type="submit" id="button-addon2">Cadastrar</button>
    </div>
</form>
<script>
    function enviarProfessorComDisponibilidade() {
        var form = document.getElementById("formCadastroProfessores");
        var formData = new FormData(form);
        
        // Enviar para a URL de cadastro de professores
        fetch("{% url 'cadastrar_professores' %}", {
            method: "POST",
            body: formData
        }).then(response => {
            console.log("Dados enviados para a primeira tabela:", response);
        }).catch(error => {
            console.error("Erro ao enviar dados para a primeira tabela:", error);
        });
        
        // Enviar para a segunda URL
        fetch("{% url 'cadastrar_disponibilidade_dia_professor' %}", {
            method: "POST",
            body: formData
        }).then(response => {
            console.log("Dados enviados para a segunda tabela:", response);
        }).catch(error => {
            console.error("Erro ao enviar dados para a segunda tabela:", error);
        });
    }
    </script>
{% endblock %}